$icon-font-path: '../bower_components/sass-bootstrap/fonts/';

@import '../bower_components/sass-bootstrap/lib/bootstrap';

.navbar-header {
  z-index: 999;
  position: absolute;
  right: 0;
  left: 0;
  box-shadow: 0px 2px 2px 0 rgba(000,000,000,.25);
  height: 50px;
}

  .navbar-header .btn {
    margin: 7px;
  }

.snap-content {
  box-shadow: 2px 2px 2px 0 rgba(000,000,000,.25);
  margin: 50px 0 0 0;
  background: white;
}

.snap-drawer {
  padding: 10px;
  margin: 50px 0 0 0;
}

.panel-heading {
  overflow: hidden;
}
