<div class="app-container">
	
	<header>
		<cta-search
			placeholder="Search {{getBusRoutes().length}} Bus Routes"
			ng-model="search">
		</cta-search>
	</header>
	
	<ul class="nav big buses">
		<li
			ng-repeat="(key,val) in getBusRoutes() | filter:search"
			ng-tap="navigate('/bus/routes/{{val.routeId}}')"
		>
			<div class="label route">
				{{getRoute()}}
			</div>
			<div class="content center">
				{{val.routeName}}
			</div>
			<div class="label next">
				<span class="icon-arrow-right"></span>
			</div>
		</li>
	</ul>
		
</div>