<div class="app-container">
	
	<header>
		<cta-search
			placeholder="Search {{getBusRoutes().length}} Bus Routes"
			ng-model="search">
		</cta-search>
		<label for="allRoutes" ng-class="{'selected':prefs.routeView == 'list'}">
			List View
			<input id="allRoutes" ng-model="prefs.routeView" value="list" type="radio" name="toggleRoutes"/>
		</label>
		<label for="only{{getRoute()}}" ng-class="{'selected':prefs.routeView == 'grid'}">
			Grid View
			<input id="only{{getRoute()}}" ng-model="prefs.routeView" value="grid" type="radio" name="toggleRoutes"/>
		</label>
	</header>
	
	<ul class="nav big buses {{prefs.routeView}}">
		<li
			ng-repeat="(key,val) in getBusRoutes() | filter:search"
			ng-tap="navigate('/bus/routes/{{val.routeId}}')"
		>
			<div class="label route">
				{{val.routeId}}
			</div>
			<div class="content center">
				{{val.routeName}}
			</div>
			<div class="label next">
				<span class="icon-arrow-right-2"></span>
			</div>
		</li>
	</ul>
		
</div>