<div class="panel panel-default">
  <div class="panel-heading">
    <h4>
      {{stop.stopName}}
      <span class="label label-info pull-right" ng-click="refreshPredictions()">
        <span class="glyphicon glyphicon-refresh"></span>
      </span>
    </h4>
    <span class="label label-info pull-left" ng-click="toggleDirection()" ng-show="directions.length > 1">
      {{directions[activeDirection].direction}}
      <span class="glyphicon glyphicon-sort"></span>
    </span>
    <span class="label label-info pull-right" ng-show="serviceBulletins.length > 0" ng-click="showBulletins = !showBulletins">
      <span class="glyphicon glyphicon-pushpin"></span>
      &nbsp;&nbsp;Bulletins&nbsp;
      <span ng-show="showBulletins">On</span>
      <span ng-show="!showBulletins">Off</span>
    </span>
  </div>
  <div class="panel-body" ng-show="serviceBulletins.length > 0 && showBulletins">
    <span ng-repeat="alert in serviceBulletins">
      <h5 class="text-info">{{alert.title}}</h5>
      <small class="text-muted" ng-bind-html="alert.detail"></small>
      <hr/>
    </span>
  </div>

  <!-- List group -->
  <ul class="nav nav-pills nav-stacked">
    <li ng-repeat="pred in predictions">
      <a href="">
        <h4><span class="label label-info" ng-bind="pred.routeId"></span>&nbsp;Arriving in <span class="label label-primary">{{pred.arrivesIn}}</span> min.</h4>
        <small>Toward {{pred.destName}} | Distance: {{pred.distance.value}} {{pred.distance.unit}} </small>
      </a>
    </li>
  </ul>
</div>
