html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

::-webkit-scrollbar {
	display: none;
}

body {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	box-sizing: border-box;
}

.disabled {
	opacity: .5;
}

.table {
	display: table !important;
}

.table-row {
	display: table-row !important;
}

.table-cell {
	display: table-cell !important;
}

	header {
		display: block;
		height: auto;
		background: white;
		z-index: 999;
		padding: 10px 10px 0 10px;
		clear: both;
		overflow: hidden;
	}
	
		header label {
			display: block;
			float: left;
			width: 50%;
			box-sizing: border-box;
			text-align: center;
			line-height: 30px;
			font-weight: 700;
			color: rgba(179,221,242,1);
			border-bottom: 5px solid rgba(255,255,255,1);
			border-top: 5px solid rgba(255,255,255,1);
			text-transform: uppercase;
			letter-spacing: 2px;
			margin: 0 0 10px 0;
			text-shadow: 1px 1px 1px rgba(000,000,000,.25);
		}
		
			header label input[type="radio"] {
				display: none;
			}
			
			header label.selected {
				color: rgba(219,13,0,1);
				border-bottom: 5px solid rgba(179,221,242,1);
				border-top: 5px solid rgba(179,221,242,1);
			}
		
			header input.search {
				background: none;
				font-size: 16px;
				line-height: 20px;
				padding: 9px 10px;
				width: 100%;
				display: block;
		    box-sizing: border-box;
				border: 1px solid rgba(94,161,194,1);
				margin: 0 0 10px 0;
				border-radius: 0;
				box-shadow: none;
				color: 
			}
			
			header .clear-search {
				display: block;
				position: absolute;
				right:11px;
				top: 11px;
				background: rgba(179,221,242,1);
				padding: 10px;
				line-height: 18px;
			}

		div.error {
			width: 250px;
			margin: 0 auto;
			text-align: center;
		}
			
		div.error p {
			font-size: 14px;
			line-height: 20px;
			padding: 30px 0;
			font-weight: 300;
		}
			
		div.error-flag {
			border-top: 30px solid rgba(179,221,242,1);
			border-bottom: 30px solid rgba(179,221,242,1);
			line-height: 80px;
			font-size: 30px;
			color: rgba(219,13,0,1);
			letter-spacing: 7px;
		}

	ul.nav {
		border-bottom: 1px solid rgba(94,161,194,1);
	}

	ul.nav li {
		display: block;
		text-align: center;
	}
	
	ul.big li {
		font-size: 20px;
		height: 60px;
		line-height: 60px;
		padding: 0;
		position: relative;
		border-top: 1px solid rgba(94,161,194,1);
	}
	
	ul.big.grid {
		overflow: hidden;
		border-top: 1px solid rgba(94,161,194,1);
		border-bottom: none;
	}
	
	ul.big.grid li {
		float: left;
		width: 25%;
		height: 80px;
		border: none;
		padding: 5px;
		box-sizing: border-box;
	}
	
		ul.big li div {
			position: absolute;
			text-align: center;
		}
		
		ul.big.grid li div.route {
			position: absolute;
			height: auto;
			width: auto;
			top: 5px;
			right: 5px;
			bottom: 5px;
			left: 5px;
			line-height: 70px;
		}
		
		ul.big.grid li div.content,
		ul.big.grid li div.next {
			display: none;
		}
		
		ul.big li div.label {
			width: 60px;
			height: 60px;
			line-height: 60px;
			left: 0;
			right: auto;
			background: rgba(179,221,242,1);
			font-weight: 700;
			color: rgba(255,255,255,1);
			text-shadow: 1px 1px 2px rgba(000,000,000,.25);
		}
		
		ul.big li div.content {
			height: auto;
			font-size: 14px;
		}
		
		ul.big li div.route {

		}
		
		ul.big li div.favorite {
			font-size: 30px;
		}
		
		ul.big li.favorite div.favorite {
			color: rgba(219,13,0,1); 
			text-shadow: 0px 0px 20px rgba(255,255,255,1);
		}
		
		ul.big li div.next,
		ul.big li div.prediction {
			left: auto;
			right: 0;
			color: rgba(179,221,242,1);
			background: none;
		}
		
		ul.big li div.prediction {
			color: rgba(219,13,0,1);
			font-size: 25px;
		}
		
			ul.big li div.prediction span {
				float: left;
				clear: both;
				width: 60px;
			}
		
			ul.big li div.prediction span.count {
				line-height: 50px;
				font-size: 30px;
				margin: -2px 0 -5px 0;
			}
			
			ul.big li div.prediction span.unit {
				line-height: 10px;
				font-size: 10px;
				text-transform: uppercase;
			}
		
		ul.big li div.center {
			font-weight: 300;
			left: 70px;
			right: 70px;
			text-align: left;
		}
		
		ul.big li div.center.two-lines {
			line-height: 18px;
			padding: 12px 0;
		}